    <thead>
    <tr>
        <th colspan="3" class="text-center"></th>
        <th colspan="2" class="text-center">리스부채</th>
        <th colspan="2" class="table-success text-center">보증금</th>
        <th colspan="2" class="table-warning text-center">복구충당부채</th>
        <th colspan="4" class="table-info text-center">사용권자산</th>
    </tr>
    <tr class="thead-dark">
        <th class="text-center">#</th>
        <th class="text-center">지급월</th>
        <th class="text-center">리스료</th>
        <th class="text-center">이자비용</th>
        <th class="text-center">리스부채</th>
        <th class="text-center">보증금현할차</th>
        <th class="text-center">보증금유효이자</th>
        <th class="text-center">충당부채전입액</th>
        <th class="text-center">복구충당부채</th>
        <th class="text-center">자산상각비</th>
        <th class="text-center">자산잔액</th>
        <th class="text-center">상각누계</th>
        <th class="text-center">자산금액</th>
    </tr>
    </thead>
